.card{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
}

h1 {
    color: #357599;
    transition: 0.3s;
}
h1:hover{
    color: black;
}
.inputbox{
    padding: 7px;
    width: 250px;
    margin: 10px;
    border: 2px solid #224f69;
    border-radius: 5px;
}
.inputbox:hover{
    box-shadow: 0 0 15px #224f69;
}
.inputbox:focus{
    box-shadow: 0 0 15px #224f69;
}
button{
    margin-top: 15px;
    border: 2px solid #224f69;
    border-radius: 5px;
    padding: 7px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    color: #083f61;
}
button:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.checkbox{
    display: inline-block;
}
.lemSenha{
    text-align: right;
    display: inline-block;
}
.cadastrar{
    display: inline-block;
    margin-right: 120px;
}
.link{
    text-decoration: none;
    color: #357599;
    
}
